[project]
	description = Linux kernel source tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jacobtrvl
[access "refs/for/refs/*"]
	read = group user/jacobtrvl
	push = group user/jacobtrvl
	label-Code-Review = -2..+2 group user/jacobtrvl
	label-Verified = -1..+1 group user/jacobtrvl
	rebase = group user/jacobtrvl
	removeReviewer = group user/jacobtrvl
	submit = group user/jacobtrvl
[access "refs/heads/*"]
	read = group user/jacobtrvl
	create = group user/jacobtrvl
	push = +force group user/jacobtrvl
	pushMerge = group user/jacobtrvl
[access "refs/tags/*"]
	push = +force group user/jacobtrvl
	pushTag = group user/jacobtrvl
	pushSignedTag = group user/jacobtrvl
